<?xml version="1.0"?>
<launch>
  <include file="$(find ceres_gazebo)/launch/ceres_gazebo.launch">
    <arg name="world" value="$(find uos_gazebo_worlds)/worlds/avz_collada.world"/> 
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0"/>
    <arg name="yaw" value="0"/>
  </include>
</launch>

