<!-- Phidgets IMU launch file -->

<launch>

  #### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager"
    args="manager" output="screen" />

  #### IMU Driver ###########################################################

  <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet"
    args="load phidgets_imu/PhidgetsImuNodelet imu_manager"
    output="screen">

    # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
    <param name="period" value="4"/>

    # The name of the frame attached to the published messages (default: imu)
    <param name="frame_id" value="imu" />

  </node>

  #### IMU Orientation Filter ###############################################

  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet"
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager"
    output="screen">

    # don't use mag! (causes IMU to drag behind after fast turns)
    <param name="use_mag" value="false"/>

    # The fixed frame in which the orientation is expressed (default: odom).
    <param name="fixed_frame" value="imu" />

    <param name="publish_tf" value="false" />
  </node>

</launch>
