<?xml version="1.0"?>

<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="imu_gazebo" params="link imu_topic update_rate stdev">
    <gazebo reference="${link}">
      <sensor name="my_imu" type="imu">
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${stdev}</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${stdev}</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${stdev}</stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${stdev}</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${stdev}</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${stdev}</stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
          <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
            <ros>
            <!-- Will publish to /imu/data -->
              <remapping>~/out:=${imu_topic}</remapping>
          </ros>
          <frame_name>${link}</frame_name>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
