<?xml version="1.0"?>
<launch>

  <!-- 
    Errors and Solutions:
    
    1. mbf_costmap_nav missing 
    - sudo apt install ros-noetic-mbf-costmap-nav

    2. "Failed to load the global_planner/GlobalPlanner planner"
    -  sudo apt install ros-noetic-navigation
    
    3. "Failed to load the SBPLLatticePlanner planner"
    - sudo apt install ros-noetic-sbpl-lattice-planner

    4. "Failed to load the eband_local_planner/EBandPlannerROS"
    - in "catkin_ws/src" git clone https://github.com/utexas-bwi/eband_local_planner.git
    - build with catkin_make  

    5. "Failed to load the moveback_recovery/MoveBackRecovery"
    - in "caktin_ws/src" git clone https://github.com/uos/mbf_recovery_behaviors.git
    - build with catkin_make

  -->

  <!-- Move Base Flex -->
  <include file="$(find ceres_navigation)/launch/move_base_flex.launch" />
  
  <!-- SMACH Navigation State Machine -->
  <node pkg="ceres_navigation" type="navigation_sm.py" name="navigation_sm" output="screen"/>

</launch>
