<launch>
  <arg name="amcl" default="true" />
  <arg name="map_server" default="true" />
  <arg name="gmapping" default="false" />
  <arg name="rviz" default="false" />

  <!-- Map Server -->
  <include if="$(arg map_server)" file="$(find ceres_navigation)/launch/map_server.launch" />

  <!-- Run AMCL -->
  <include if="$(arg amcl)" file="$(find ceres_navigation)/launch/amcl.launch" />

  <!-- Gmapping -->
  <include if="$(arg gmapping)" file="$(find ceres_navigation)/launch/gmapping.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ceres_navigation)/config/global_planner.yaml" command="load" />
    <rosparam file="$(find ceres_navigation)/config/local_planner.yaml" command="load" />
    <rosparam file="$(find ceres_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find ceres_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ceres_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ceres_navigation)/config/local_costmap_params.yaml" command="load" />
  </node>

  <!-- RViz with config -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find ceres_navigation)/rviz/move_base.rviz" />

</launch>
