<launch>
  <arg name="amcl" default="true" />
  <arg name="mapserver" default="true" />
  <arg name="gmapping" default="false" />
  <arg name="rviz" default="false" />

  <!-- Map Server -->
  <include if="$(arg mapserver)" file="$(find ceres_navigation)/launch/map_server.launch" />

  <!-- Run AMCL -->
  <include if="$(arg amcl)" file="$(find ceres_navigation)/launch/amcl.launch" />

  <!-- Gmapping -->
  <include if="$(arg gmapping)" file="$(find ceres_navigation)/launch/gmapping.launch" />

  <!-- Move Base Flex -->
  <node pkg="move_base_flex" type="mbf_2d_nav" respawn="false" name="move_base_flex" output="screen"> 
    <param name="tf_timeout" value="1.5"/>
    <param name="global_planner_max_retries" value="3"/>
    <rosparam file="$(find ceres_navigation)/config/global_planner.yaml" command="load" />
    <rosparam file="$(find ceres_navigation)/config/local_planner.yaml" command="load" />
    <rosparam file="$(find ceres_navigation)/config/recovery_behaviors.yaml" command="load" />
    <rosparam file="$(find ceres_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find ceres_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ceres_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ceres_navigation)/config/local_costmap_params.yaml" command="load" />
  </node>
  
  <!-- SMACH Navigation State Machine -->
  <node pkg="ceres_navigation" type="mbf_move_base_action.py" name="mbf_move_base_action" output="screen"/>

  <!-- RViz with config -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find ceres_navigation)/rviz/move_base_flex.rviz" />

</launch>
